# HAProxy Manager Configuration
DOMAINS_MAP=/etc/haproxy/maps/domains.map
HAPROXY_CFG=/etc/haproxy/haproxy.cfg
LOG_FILE=/var/log/haproxy-manager.log
LISTEN_ADDR=127.0.0.1:8081
ADMIN_USER=admin
ADMIN_PASS=CAMBIA_QUESTA_PASSWORD
UI_DIR=/opt/haproxy-manager/ui
VARNISH_ADM=/usr/bin/varnishadm